* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item {
    margin-right: 35px;
}

.nav-link {
    font-size: 22px;
    font-weight: bold;
}

/*banner-area*/
.banner-area {
    padding-top: 70px;
}

.banner-heading h2 {
    font-size: 32px;
}

.banner-heading h4 {
    font-size: 20px;
}

.banner-icon i {
    font-size: 42px;
}
.carousel-indicators{
    bottom: -40px;
}
.carousel-indicators [data-bs-target]{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
/*project-area*/
.project-heading{
    font-size: 32px;
}
.project-desc p{
    font-size: 20px;
}
.project-icon i{
    font-size: 50px;
}
.project-text h4{
    font-size: 22px;
}
.project-text p{
    font-size: 18px;
}
/*footer-area*/
.footer-title h2{
    font-size: 32px;
}
.footer-title p{
    font-size: 20px;
}
form input{
    height: 50px;
}
form button{
    width: 130px;
}
.footer-icon a i{
    width: 40px;
    height: 40px;
    font-size: 28px;
    font-weight: bold;
    padding: 5px 0 0 7px;
}
.list-unstyled li a{
    font-size: 16px;
}
