/*common style start*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*common style end*/

.nav-link {
    font-size: 22px;
    font-weight: bold;
}

/*banner-area*/
.banner-area {
    padding-top: 70px;
}

.banner-heading h2,
.project-heading h2,
.footer-title h2 {
    font-size: 40px;
}

.banner-heading h4 {
    font-size: 22px;
    margin-top: 25px;
}

.banner-desc {
    margin: 25px 0;
}

.banner-desc p {
    font-size: 18px;
}

.banner-icon i {
    font-size: 42px;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/*project-area*/
.project-desc p {
    font-size: 22px;
}

.project-icon i {
    font-size: 50px;
}
.project-icon i:hover{
    transform: scale(.9);
    transition: .5s;
}

.project-text h4 {
    font-size: 22px;
}

.project-text p {
    font-size: 18px;
}

/*footer-area*/
.footer-title p {
    font-size: 20px;
}

form input {
    height: 50px;
}

form button {
    width: 130px;
}

.footer-icon a i {
    width: 40px;
    height: 40px;
    font-size: 28px;
    font-weight: bold;
    padding: 5px 0 0 7px;
}

.list-unstyled li a {
    font-size: 16px;
}

/*---media queries*/
@media screen and (max-width: 576px) {
   .banner-img,
   .banner-details,
   .project-icon i{
       margin: 0 auto;
   }
    .project-text{
        text-align: center;
    }

}
